<% include pertiols/head.ejs %>
	
<div class="bg-danger"><h1 class="text-center text-capitalize">welcom to home profile <%= user.username %></h1> </div>
<img src="<%= user.img %>" alt="profile pic" width="300px" height="300px;">
<% include pertiols/botton.ejs %>